/* BOOTSTRAP */
@import "/node_modules//bootstrap/dist/css/bootstrap.min.css";

/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  background-color: #eee; 
  color: #000;
}

body.dark-theme{
  background-color: #333;
  color: #fff;
}

.btn:active{
  transform: scale(0.95);
}

/* LOADER - LOADING */
.loading{
  height: 100vh;
}

/* HEADER */
/* navbar */
.btn-toggle{
  background-color: transparent;
  border: none;
  font-size: 25px;
}

/* MAIN */
main{
  flex: 1;
}

/* search form */
.search-form-input{
  height: 35px;
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
  outline: none;
}

/* Single Recipe Details */
.recipe-details-main p span{
    font-weight: 600;
}

/* Error page */
.error{
  height: 100vh;
}

/* FOOTER */
.footer {
  background-color: #000;
  font-weight: 600;
}