/* BOOTSTRAP */
@import "/node_modules//bootstrap/dist/css/bootstrap.min.css";
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');


/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body{
  background-color: #eee; 
  color: #000;
  font-family: "Bitter", serif;
}

body.dark-theme{
  background-color: #333;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.btn:active{
  transform: scale(0.95);
}

/* LOADER - LOADING */
.loading{
  height: 100vh;
}

/* HEADER */
/* navbar */
.navbar .logo a{
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

.navbar{
  background-color: rgb(115, 64, 96);
}

.navbar .navbar-nav .nav-item .nav-link:hover{
  color: #f1c40f !important;
}

.navbar .navbar-nav .nav-item .nav-link.active{
  color: #f1c40f !important;
}

.btn-toggle{
  width: 154px;
  background-color: transparent;
  border: none;
  font-size: 25px;
}

/* MAIN */
main{
  flex: 1;
}

/* search form */
.search-form-input{
  height: 35px;
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
  outline: none;
}

/* Recipe Details - Grid card and Single page */
.recipe-card p span,
.recipe-details-main p span{
    font-weight: 600;
}

/* Advance Search */
/* radio btn option */
.form-check-input:checked{
  background-color: #528f2d;
  border-color: #528f2d;
}

/* Error page */
.error{
  height: 100vh;
}

/* FOOTER */
.footer {
  background-color: rgb(115, 64, 96);
  font-weight: 600;
}